/*
Theme Name: Head Blog
Theme URI: https://headthemes.com/theme/head-blog/
Author: HeadThemes
Author URI: https://headthemes.com/
Description: Head Blog is a minimalistic and fast blogging theme for WordPress. It supports custom header, logo or background, and it is easy to use even for WordPress beginners. Head Blog is SEO friendly, and WPML, translation and RTL ready. DEMO: https://headthemes.com/head-blog-demo/
Version: 1.0.6
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, right-sidebar, flexible-header, rtl-language-support, footer-widgets, custom-header, custom-background, custom-menu, featured-images, translation-ready, custom-logo, threaded-comments, blog
Text Domain: head-blog
*/

/* The bootstrap.css file is auto-enqueued in functions.php */

/* WordPress Core */
.gallery-caption {
    font-weight: bold;
}
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
img.alignnone {
    max-width: 96%;
    height: auto;
    width: auto;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 10px 0 0 0;
    color: #000;
}
/* Recommended CSS from WP for defined content width support */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}
iframe,
embed {
    max-width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
.sticky,
.bypostauthor {}
table { 
    width: 100%; 
    border-collapse: collapse; 
}
th { 
    font-weight: bold; 
}
td, th { 
    padding: 6px; 
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
body, html {
    overflow-x: hidden;
}
body {
    font-family: 'Raleway', "Helvetica Neue", helvetica, arial, sans-serif;
    padding: 0;
    color: #404040;
    font-weight: 400;
    line-height: 1.6;
    font-size: 15px;
    word-wrap: break-word;
}
a, a:active, a:hover, a:focus {
    text-decoration: none;
    color: #0f1a82;
    /* color: #8a6d3b; */
}
h1, h2, h3, h4, h5, h6 {
    line-height: normal;
    word-wrap: break-word;
    color: #000;
}
.page-header a {
    border-bottom: 0;
    color: #000;
}
a:active {
    border-bottom: none;
}
.main-container {
    background-color: #fff;
}
.homepage-row.row {
    margin: 0;
    padding: 60px 0 0 0;
    background: #fff;
    color: black;
}
@media (min-width: 768px) {
    .nav > li > a:before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #0f1a82;;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
    .nav > li:hover > a:before {
        width: 100%;
        left: 0;
    }
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    .shrink .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 14px;
    }
    .navbar-nav li:hover .dropdown-menu{
        visibility:visible;
        border-top: 4px solid #ccc;
        border-radius: 0;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    #site-navigation .container{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: transparent;
    }
    .navbar-center .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar-center .menu-container {
        text-align: center;
    }
}
@media (min-width: 600px) {
    .admin-bar #site-navigation.shrink {
        top: 32px;
    }
}
@media (max-width: 767px) {
    .nav > li.active > a:after, .current-page-parent:after {
        height: 0 !important;
        background-color: transparent !important;
    }
    .navbar-nav a:hover, .navbar-nav a:focus {
        color: #ffffff !important;
        background-color: #000 !important;
    }
    .menu-container {
        width: 70%;
        position: absolute;
        left: 0;
        transform: translate3d(-100%, 0, 0);
        overflow-y: auto;
        overflow-x: auto;
        height: 100vh;
        padding-bottom: 60px;
        z-index: 9;
        background-color: #fff;
        top: 60px;
    }
    .shrink .menu-container {
        top: 50px;
    }
    .openNav .menu-container {
        transform: translate3d(0, 0, 0);
        transition: transform 500ms ease;
    }
    .openNav .page-area {
        left: 0;
        transform: translate3d(70%, 0, 0);
        transition: transform 500ms ease;
    }
    .page-area {
        left: 0;
        transform: translate3d(0, 0, 0);
        transition: transform 500ms ease;
    }
    .navbar-nav {
        padding: 0;
        margin: 0;
    }
    .navbar-nav a {
        font-size: 14px;
        padding: 15px 10px !important;
        margin: 0 !important;
        line-height: 16px !important;
        background-color: white;
        float: left !important;
        margin: 0px !important;
        width: 100%;
        text-transform: none !important;
        word-wrap: break-word;
        white-space: normal !important;
    }
    .navbar-nav li, .navbar-nav ul {
        padding: 0px !important;
        margin: 0px !important;
    }
    .open-panel {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 18px;
        right: 22px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .shrink .open-panel {
        top: 12px;
    }
    .open-panel span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #000;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .open-panel span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .open-panel span:nth-child(2) {
        top: 9px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .open-panel span:nth-child(3) {
        top: 18px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .open-panel.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -2px;
        left: 3px;
    }
    .open-panel.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    .open-panel.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 3px;
    }
    .caret, .dropdown-submenu>a:after {
        display: none !important; 
    }
    .navbar-nav .dropdown-menu {
        width: 100%;
        display: block !important;
        left: 0 !important;
        position: relative !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .openNav .page-area:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #00000085;
        left: 0;
    }
    .split-images .news-text-wrap h2 {
        font-size: 100%;
    }
}
.dropdown-menu > li > a {
    border-bottom: 0;
}
#site-navigation {
    min-height: 60px;
}
.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #0f1a82;;
}
.navbar-toggle {
    border: 1px solid #ccc;
}
.navbar-toggle .icon-bar {
    background-color: #ccc;
}
.navbar-nav > li > a {
    border-bottom: 0;
    text-transform: uppercase;
}
.nav > li.active > a:after, .current-page-parent:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0f1a82;
}
article {
    clear: both;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.updated:not(.published) {
    display: none;
}
.space-right {
    margin-right: 10px;
}
.main-content {
    float: left;
    width: 100%;
}
.page-header {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}
.single-entry-summary, .entry-footer {
    margin-top: 15px;
    width: 100%;
    clear: both;
}
.tagcloud a {
    font-size: 15px !important;
    padding: 2px 10px;
    border: 1px solid;
    margin-bottom: 5px;
    display: inline-block;
}
input, textarea {
    background-color: #fff;
    padding: 6px;
    color: #464a4c;
    border-radius: 0;
    margin-bottom: 10px;
}
.comment-respond label,
.comment-respond input {
    width: 100%;
}
select {
    max-width: 100%;
    padding: 5px;
    color: #000;
}
#sidebar {
    display: block;
    max-width: 100%;
    overflow: hidden;
}
.widget {
    border: 1px solid #dddddd;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.01);
}
.homepage-widget-area {
    float: left;
    width: 100%;
}
.page-area {
    padding-top: 15px;
}
header.archive-page-header {
    padding: 0 15px 30px;
}
.widget {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin-bottom: 15px;
}
.widget ul {
    padding-left: 0;
    list-style-type: none;
}
.widget li > ul {
    padding-left: 15px;
}
.widget ul li {
    margin: 4px 0px 0px;
    padding: 0px 0px 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.widget ul li:last-child {
    border-bottom: none;
}
.widget-title {
    font-size: 18px;
    position: relative;
    width: 100%;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0 15px;
}
.widget-title:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 50%;
    height: 1px;
    background-color: #dddddd;
    left: 0;
}
.widget-title h3 {
    font-size: 15px;
    float: none;
    padding: 10px 15px;
    margin: 0;
    font-style: normal;
    display: inline-block;
    background-color: #fff;
    position: relative;
    z-index: 5;
    border: 1px solid #dddddd;
}

.section-title {
    width: 100%;
    position: relative;
    float: left;
    clear: both;
    overflow: hidden;
}
.section-title:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 10px;
    height: 2px;
    background-color: #eaeaea;
    left: 16px;
    z-index: 6;
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
}
.section-title .widget-title {
    width: auto;
    margin-left: 2px;
    float: left;
}
.section-title .widget-title a {
    float: left;
}
.section-title .widget-title:after {
    display: none;
}
.section-title a {
    position: relative;
    z-index: 3;
    color: #000;
    padding: 14px 14px;
    top: -2px;
    font-weight: 300;
    font-size: 14px;
    float: left;
    margin-bottom: 8px;
    font-style: italic;
}
.section-title a:after {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    right: -15px;
    height: 100%;
    background-color: #eaeaea;
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    z-index: -1;
    display: block;
}
h1.site-title a, .site-title a, h1.site-title, .site-title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 70px;
    word-wrap: break-word;
    font-weight: 700;
    color: #000;
    letter-spacing: -.02em;
    text-transform: uppercase;
}
p.site-description {
    font-size: 23px;
    line-height: 28px;
    margin: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-branding-logo a {
    border: none;
    z-index: 999;
    position: relative;
}
.site-branding-logo img {
    width: auto;
}
.site-branding-text {
    z-index: 99999;
    position: relative;
}
.site-heading {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 1170px;
    text-align: center;
    padding: 15px;
    color: #000;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.navbar {
    margin-bottom: 0;
}
.main-menu {
    position: relative;
}
#site-navigation,
#site-navigation.shrink {
    background-color: #ffffff;
    webkit-box-shadow: 0px 7px 19px -1px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 7px 19px -1px rgba(0,0,0,0.17);
    box-shadow: 0px 7px 19px -1px rgba(0,0,0,0.17);
    border: none;
}
#site-navigation, nav a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #000;
    border-radius: 0;
}
#site-navigation.shrink {
    min-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}
.shrink h1.site-title, .shrink .site-title {
    font-size: 19px;
    line-height: 23px;
}
.shrink p.site-description {
    font-size: 12px;
    line-height: 15px;
}
.featured-thumbnail {
    width: 100%;
    position: relative;
}
.featured-thumbnail img {
    width: 100%;
    text-align: center;
}
.single-page-header {
    color: #fff;
    font-size: 44px;
    font-weight: 400;
}
.single-footer {
    display: block;
    clear: both;
}
nav.navigation.pagination {
    text-align: center;
    width: 100%;
    clear: both;
    margin: 20px 0;
}
nav.navigation.pagination .nav-links a, nav.navigation.pagination .current {
    padding: 5px 10px;
    border: none;
    border-radius: 0;
    position: relative;
    z-index: 1;
}
nav.navigation.pagination .nav-links a:before, nav.navigation.pagination .current:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    border: 1px solid #b5b5b5;
}
nav.navigation.pagination .current {
    color: #fff;
}
nav.navigation.pagination .current:before {
    background-color: #0f1a82;
    border: 1px solid #0f1a82;
}
#content-footer-section {
    background-color: #fff;
    padding: 15px;
}
#content-footer-section .widget {
    border: none;
    background: transparent;
}
#content-footer-section .widget:nth-child(4n+1) {
    clear: both;
}
.footer-credits {
   /* este color es el del footer*/
    background-color: #0f1a82;
    clear: both;
}
.footer-credits-text {
    padding: 20px 0;
    color: #fff;
}
.site-header {
    padding: 0;
    background-color: #fff;
    position: relative;
    min-height: 450px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#wp-custom-header img {
    position: absolute;
    height: auto;
    left: 50%;
    max-width: 1000%;
    min-height: 100%;
    width: auto;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
li.home-icon.front_page_on {
    background-color: #0f1a82;
}
li.home-icon.front_page_on a, li.home-icon.front_page_on a:hover {
    color: #fff;
}
li.home-icon a {
    padding-left: 20px;
    padding-right: 20px;
}
li.home-icon.front_page_on:before {
    position: absolute;
    content: "";
    top: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #0f1a82;;
}
/* Search styling */
form#searchform, .search-icon {
    position: relative;
}
#searchsubmit {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    width: 80px;
    color: #fff;
    background-color: #0f1a82;;
}
input#s {
    width: 100%;
    padding-right: 90px;
}

/* Comments */
.comment-form #comment, .comment-form #submit {
    width: 100%;
}

cite.fn {
    font-weight: bold;
}
a.comment-reply-link {
    border: 1px solid #ccc;
    padding: 10px 20px;
}
.reply {
    margin: 20px 0;
}
.comment-meta.commentmetadata {
    margin: 10px 0;
    font-size: 12px;
    font-style: italic;
}
.comment-body {
    margin-bottom: 40px;
}
.commentlist li {
    list-style-type: none;
}
.error-template {
    padding-bottom: 60px;
}
.btn-default, input[type="submit"], input#submit, button, a.comment-reply-link { 
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border: 1px solid #8e8e8e;
}
input#submit:hover, .btn-default:hover, input[type="submit"]:hover, button:hover, a.comment-reply-link:hover { 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.inner-wrapper {
    float: left;
    display: block;
    margin-bottom: 15px;
    width: 100%;
}
.posted-date,
.cat-links a,
.cat-links span,
.tags-links span,
.comments-meta {
    opacity: 0.7;
    padding-right: 8px;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
}
.cat-links {
    padding: 10px;
}
.single .cat-links {
    padding-left: 0;
}
.comments-meta a{
    color: #404040;
}

span.comments-meta i {
    margin-left: 0;
}
.read-more-button a {
    padding: 10px 20px;
    margin-top: 20px;
    border: 1px solid;
    position: relative;
    display: inline-block;
}
.tags-links a {
    position: relative;
    font-style: italic;
    opacity: 0.8;
    margin-right: 8px;
}
h1.single-title {
    text-align: center;
}
.news-item-content, .postauthor-container, .comments-template, .single-wrap {
    padding: 30px 15px;
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid #dddddd;
    margin-bottom: 30px;
}

.news-item.layout-two {
    margin-bottom: 10px;
    clear: both;
}
.news-item.layout-two .news-thumb {
    margin-bottom: 5px;
    margin-right: 15px;
    max-width: 80px;
    float: left;
}
.news-item h2 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.1;
}
.news-item.layout-two h2, .news-item.layout-two h2 a {
    font-size: 15px;
    line-height: 18px;
}
.news-item h2 a {
    color: #000;
    font-size: 42px;
}
.news-thumb {
    margin-bottom: 20px;
    text-align: center;
}
.news-thumb img {
    padding: 1px;
    border: 1px solid #dddddd;
}
.post-excerpt {
    font-style: italic;
    font-weight: 300;
}
.author-meta-by {
    font-style: italic;
    opacity: 0.7;
    font-size: 14px;
    font-weight: 300;
}
.author-meta a {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 8px;
}
.comments-meta a {
    padding-right: 5px;
}
