Theme Name: head-blog hijo
Template: head-blog

a, a:active, a:hover, a:focus {
    text-decoration: none;
    color:  #0f1a82;
    /* color: #8a6d3b; */
}

@media (min-width: 768px) {
    .nav > li > a:before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color:   #0f1a82;
        -webkit-transition: all 1s;
        transition: all 1s;
    }


.nav > li.active > a:after, .current-page-parent:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0f1a82;
}


#content-footer-section {
    background-color: #fff;
    padding: 15px;
}
.footer-credits {
   /* este color es el del footer*/

    background-color:  #0f1a82 !important;
    clear: both;
}
